/*My app component*/
.content-wrapper {
    padding: 20px;
    min-height: calc(100vh - 120px);
    background-color: #4b0909; 
    color: #fde96d; 
  }
  
  :host {
    display: block;
    font-family: Arial, sans-serif;
  }