/*My app component*/
.content-wrapper {
    padding: 20px;
    min-height: calc(100vh - 120px); /* Adjust based on navbar and footer height */
    background-color: #4b0909; /* Deep red background */
    color: #fde96d; /* Gold text for contrast */
  }
  
  :host {
    display: block;
    font-family: Arial, sans-serif;
  }