<div class="movie-list">
    <h2>Movies</h2>
    <ul>
      <li *ngFor="let movie of paginatedMovies" class="movie-card">
        <div class="movie-header">
          <h3 class="movie-title">{{ movie.title }}</h3>
          <div class="movie-details">
            <p><strong>Duration:</strong> {{ movie.durationMinutes }} minutes</p>
            <p><strong>Release Date:</strong> {{ movie.releaseDate | date: 'longDate' }}</p>
            <p class="movie-description">
              <strong>Description:</strong>
              <span *ngIf="!isExpanded(movie.id)">{{ movie.description | slice: 0:100 }}...</span>
              <span *ngIf="isExpanded(movie.id)">{{ movie.description }}</span>
              <a href="javascript:void(0)" (click)="toggleDescription(movie.id)" class="description-toggle">
                {{ isExpanded(movie.id) ? 'Show Less' : 'Read More' }}
              </a>
            </p>
          </div>
        </div>
        <div class="movie-sessions">
            <div class="session-header">Showings</div>
            <div class="session-list">
              <div *ngFor="let session of getSessionsForMovie(movie.id)" class="session-item">
                <div class="time">{{ session.startTime | date: 'shortTime' }}</div>
                <div class="hall">Hall: {{ session.cinemaHall?.name }}</div>
              </div>
            </div>
          </div>
          
      </li>
    </ul>
    <div class="pagination">
      <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  