.movie-list h2 {
    margin-bottom: 20px;
  }
  
  .movie-card {
    background: linear-gradient(135deg, #FFD700, #FFCC66);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  .movie-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .movie-title {
    font-size: 1.5rem;
    color: #4b0909;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .movie-details p {
    margin: 5px 0;
    font-size: 1rem;
    color: #4b0909;
  }
  
  .movie-details p strong {
    color: #000;
  }
  
  .description-toggle {
    color: #4b0909;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }
  
  .movie-sessions {
    border-top: 2px solid #4b0909;
    padding-top: 10px;
  }
  
  .session-header {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4b0909;
    margin-bottom: 10px;
  }
  
  .session-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  
  .session-item {
    background: linear-gradient(135deg, #4b0909, #7e1a1a);
    color: #ffd700;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    width: 70%;
    transition: background-color 0.2s ease;
  }
  
  .session-item:hover {
    background-color: #ffd700;
    color: #e0e0e0;
    cursor: pointer;
  }
  